<h1 style="text-align: center">Welcome to <a style="color: red">Our</a>Files!</h1>
<p style="font-size: 25px;">
We are happy to see you on our website. Here you can share files with the other people all over the world. There`s no private property, all uploaded files can be used by any users.
    We are not responsible for any content posted here. You can begin by looking our <a href="/files">library</a> or <a
        href="/add_new">adding</a> any files.  If you don`t like any materials, posted here, you can just delete it. Good luck!
</p>